@model prueba.Models.Cooperativa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cooperativa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.biografia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.biografia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechacreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechacreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fotocoop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fotocoop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mutualpers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mutualpers.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.personaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.personaid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
