@model prueba.ViewModels.PersonasViewModels

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <p>
        Nombre:<input type="text"  name="busqNombre" value="@Model.busqNombre" />
        @*ver xq se me borra el nombre*@
        Mutual: <select name="mutualId" asp-items="@Model.Mutual">
            <option value="">Ninguno</option>
        </select>
        <input type="submit" value="filtrar">
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.personas[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personas[0].biografia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personas[0].fechacreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personas[0].fotocoop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personas[0].mutualpers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personas[0].personaid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.personas) {
        <tr>
            <td>
                @*aca cambie nombre por Nombre*@
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.biografia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechacreacion)
            </td>
            <td>
                    <img src="images/cooperativa/@item.fotocoop" class="img-thumbnail" asp-append-version="true" style="height: 80px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mutualpers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>

}
    </tbody>
</table>
@*<partial name="paginador" for="@Model.paginador" />*@
